# Environment
.env
.env.*
!.env.example

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Databases
*.sqlite3
*.db

# Frontend/Node
node_modules/
.npm/
dist/
build/
.cache/

# OS/IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
